body{ background-color:paleturquoise; } hr{ background-color:grey; border-style:none;
border-top-style:dashed; border-width:2px; width:10%; } img{ height:240px; width:250px;
} h1{color:darkcyan;} h2{color:darkcyan;} h3{color:darkcyan;}



<!--
Visual Code Mobile
Developed By Manish Nirmal
App Available on Play Store :-
https://play.google.com/store/apps/details?id=lk.visual.code.mobile
YouTube :-
https://youtube.com/ManishNirmal
-->